<div class="container bg-light py-5">
    <h1 class="best">Welcome to QuiziBiz</h1>
    <p >This quiz contains total 10 questions. Each question holds 10 points.</p>
    <h4 class="text-danger">Rules:</h4>
        <li>Correct Answer gives you 10 points.</li>
        <li>Incorrect Answer gives you -10 points.</li>
        <li>You have 60sec to answer each question.</li>
        <li>Refreshing the page will reset the Quiz.</li>
    <h2 class="best">All the Best!!!</h2>
    <button class="btn btn-warning mt-3" style="color: #fff;">Start</button>
</div>
