.card{
    margin-top: 10px;
    border: none;
    border-radius: 14px;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 10px 10px 5px 12px lightblue; */
    background: rgb(6, 37, 59);
    background: linear-gradient(90deg, rgb(6, 37, 59) 0%, hsla(260, 29%, 36%, 1) 100% );
}

label{
    color: #fff;
}

.form-group{
    margin-bottom: 10px;
}